{% extends 'base.html.twig' %}

{% block body %}

    <table id="table-user" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Nº</th>
            <th>Rut</th>
            <th>Nombres</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.rut }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.mothersLastName }}</td>
                <td>{{ user.status|trans }}</td>
                <td>
                    <a class="btn btn-xs btn-success" href="{{ path('users_show', { 'id': user.id }) }}">Ver</a>
                    {% set is_enabled = user.hasRole('ROLE_ADMIN_GENERAL') == false ? '' : 'disabled' %}
                    <a class="btn btn-xs btn-warning {{ is_enabled }}"
                       href="{{ path('users_edit', { 'id': user.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-xs btn-warning" href="{{ path('users_new') }}">Crear Nuevo Usuario</a>
        </div>
    </div>
{% endblock %}
