{% extends 'base.html.twig' %}

{% block body %}
    <div class="uk-container-large">
        <div class="uk-container">
            <table class="uk-table uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-text-primary" width="16%">Usuario:</th>
                    <th class="uk-text-muted">{{ user.username }}</th>
                </tr>
                <tr>
                    <th class="uk-text-primary">Tipo de rol:</th>
                    <th class="uk-text-muted">
                        {% if 0 != user.roles|length %}
                            {% for roles  in user.roles if roles|trans != 'Usuario' %}
                                <span class="">{{ roles|trans }}</span>
                            {% endfor %}
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th class="uk-text-primary">Estado:</th>
                    <th class="uk-text-muted">
                        {% if user.status|trans == 'Activo' %}
                            <span class="uk-label uk-label-success">{{ user.status|trans }}</span>
                        {% else %}
                            <span class="uk-label uk-label-danger">{{ user.status|trans }}</span>
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th class="uk-text-primary" width="16%">Email:</th>
                    <th class="uk-text-muted">{{ user.email }}</th>
                </tr>
                <tr>
                    <th class="uk-text-primary" width="16%">Rut:</th>
                    <th class="uk-text-muted">{{ user.rut }}</th>
                </tr>
                <tr>
                    <th class="uk-text-primary" width="16%">Nombres:</th>
                    <th class="uk-text-muted">{{ user.name }}</th>
                </tr>
                <tr>
                    <th class="uk-text-primary" width="16%">Apellido Paterno:</th>
                    <th class="uk-text-muted">{{ user.lastName }}</th>
                </tr>
                <tr>
                    <th class="uk-text-primary" width="16%">Apellido Materno:</th>
                    <th class="uk-text-muted">{{ user.mothersLastName }}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
