{% extends 'base.html.twig' %}

{% block body %}
    {% set is_hidden = user.hasRole('ROLE_ADMIN_GENERAL') == false ? '' : 'hidden' %}

    <h1>Perfil de usuario</h1>

    <table class="table table-bordered table-responsive">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Rut</th>
            <td>{{ user.rut }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Apellido Paterno</th>
            <td>{{ user.lastName }}</td>
        </tr>
        <tr>
            <th>Apellido Materno</th>
            <td>{{ user.mothersLastName }}</td>
        </tr>
        <tr>
            <th>Estado</th>
            <td>{{ user.status|trans }}</td>
        </tr>
        <tr class="{{ is_hidden }}">
            <th>Editar</th>
            <td>
                <a class="btn btn-xs btn-warning"
                   href="{{ path('users_edit', { 'id': user.id }) }}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        <tr class="{{ is_hidden }}">
            <th>Eliminar</th>
            <td>
                {{ form_start(delete_form) }}
                <button class="btn btn-xs  btn-danger" type="submit">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                {{ form_end(delete_form) }}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-xs btn-warning" href="{{ path('users_index') }}">Volver</a>
        </div>
    </div>
{% endblock %}
