{% extends 'base.html.twig' %}

{% block body %}
    <table id="table-user" class="uk-table uk-table-hover uk-table-striped dataTable uk-table-expand">
        <thead>
        <tr>
            <th>Nº</th>
            <th>Nombre de Operador</th>
            <th>Proveedor</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Fecha de emisión</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for detail in details %}
            <tr>
                <td><a href="{{ path('operators_show', { 'id': detail.id }) }}">{{ detail.id }}</a></td>
                <td>{{ detail.user.fullData }}</td>
                <td>
                    {% if detail.supplier.fullData is defined %}
                        {{ detail.supplier.fullData }}
                    {% endif %}
                </td>
                <td>
                    {% if detail.customer.fullData is defined %}
                        {{ detail.customer.fullData }}
                    {% endif %}
                </td>
                <td>
                    {% if detail.product.fullData is defined  %}
                        {{ detail.product.fullData }}
                    {% endif %}
                </td>
                <td>{{ detail.dateOfIssue|date('Y-m-d H:m:s') }}</td>
                <td>
                    <a class="uk-button uk-button-small uk-button-primary"
                       href="{{ path('operators_show', { 'id': detail.id }) }}">Ver</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="uk-container-expand">
        <a class="uk-button  uk-button-primary uk-button-small" href="{{ path('operators_register') }}">Generar
            factura</a>
    </div>
{% endblock %}
