{% extends 'base.html.twig' %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('pago') %}
        <div class="alert alert-success fade in alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>Alerta!</strong> {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="table-header">
        Listado de pagos pendientes
    </div>
    <table id="table" class="table table-bordered table-condensed table-hover">

        <thead>
        <tr>
            <th>Numero de boleta</th>
            <th>Fecha de emisión</th>
            <th>Cliente</th>
            <th>Monto de la cuenta</th>
            <th>Tipo de venta</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for detail in details %}
            {% if (detail.type == 'detail.sale') %}

                {% set data = detail.metadata %}
                {% set product = data.product %}
                {% set customer = data.customer %}

                {% set disabled = product.price > 0 ? '' : 'disabled' %}

                <tr>
                    <td>
                        <a href="{{ path('collectors_sale', { 'id': detail.id }) }}">{{ detail.number }}</a>
                    </td>
                    <td>{{ detail.dateOfIssue|date('Y-m-d') }}</td>
                    <td>{{ customer.getFullName() }}</td>
                    <td>{{ detail|calculateMovements }}</td>
                    <td>{{ detail.type|trans }}</td>
                    <td>
                        {% set estadoCuenta = detail|calculateMovements == 0 ? 'Ver estado de cuenta' : 'cobrar' %}
                        <a class="btn btn-xs btn-success {{ disabled }}"
                           href="{{ path('collectors_sale', { 'id': detail.id }) }}">{{ estadoCuenta }}</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
