<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Tu Oficina S.A{% endblock %}</title>

    {% stylesheets
    'bundles/app/css/font-awesome.min.css'
    'bundles/app/css/uikit.min.css'
    'bundles/app/css/dataTables.uikit.min.css'
    'bundles/app/css/jquery-confirm.css'
    'bundles/app/css/config.default.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>


    {% javascripts
    'bundles/app/js/jquery-3.1.1.min.js'
    'bundles/app/js/jquery.dataTables.min.js'
    'bundles/app/js/jquery-confirm.js'
    'bundles/app/js/uikit.min.js'
    'bundles/app/js/uikit-icons.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
{% if app.user %}
    <nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                {% if app.user.hasRole('ROLE_GERENTE') or app.user.hasRole('ROLE_ADMIN_GENERAL') %}
                    <li class="uk-active"><a href="#">Active</a></li>
                {% endif %}
                {% if app.user.hasRole('ROLE_OPERADOR') or app.user.hasRole('ROLE_ADMIN_GENERAL') %}
                    <li class="uk-active"><a href="{{ path('operators_index') }}">Ventas</a></li>
                    <li class="uk-active"><a href="{{ path('product_operators_index') }}">Productos</a></li>
                {% endif %}
                {% if app.user.hasRole('ROLE_GERENTE') or app.user.hasRole('ROLE_ADMIN_GENERAL') %}
                    <li class="uk-active"><a href="{{ path('manager_index') }}">Detalle de Ventas</a></li>
                    <li class="uk-active"><a href="{{ path('manager_show') }}">Detalle Compra de Productos</a></li>
                {% endif %}
                <li><a href="{{ path('fos_user_security_logout') }}">Cerrar sesión</a></li>
                <li><a href="#">Tu Oficina S.A</a></li>
            </ul>
        </div>
    </nav>
{% endif %}
{% block main_content %}
    {% block sub_header %} {% endblock %}
    <div class="uk-container uk-container-large uk-padding-large">
        {% block body %}
        {% endblock %}
    </div>
{% endblock %}

{% javascripts 'bundles/app/js/config.default.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts %}{% endblock %}
</body>
</html>
