{% extends 'base.html.twig' %}

{% block body %}


    <div class="table-header">
        Listado de Compras
    </div>
    <table id="table" class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Numero de boleta</th>
            <th>Fecha de emisión</th>
            <th>Tipo de venta</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>

        {% for detail in details %}
            {% if (detail.type == 'detail.purchase') %}
                <tr>
                    <td>
                        <a href="{{ path('sellers_details', { 'id': detail.id }) }}">{{ detail.number }}</a>
                    </td>
                    <td>{{ detail.dateOfIssue|date('Y-m-d') }}</td>
                    <td>{{ detail.type|trans }}</td>
                    <td>
                        <a class="btn btn-xs btn-success"
                           href="{{ path('sellers_details', { 'id': detail.id }) }}">Ver</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <div class="table-header">
        Listado de venta
    </div>
    <table id="table" class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Numero de boleta</th>
            <th>Fecha de emisión</th>
            <th>Tipo de venta</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>

        {% for detail in details %}
            {% if (detail.type == 'detail.sale') %}
                <tr>
                    <td>
                        <a href="{{ path('sellers_details', { 'id': detail.id }) }}">{{ detail.number }}</a>
                    </td>
                    <td>{{ detail.dateOfIssue|date('Y-m-d') }}</td>
                    <td>{{ detail.type|trans }}</td>
                    <td>
                        <a class="btn btn-xs btn-success"
                           href="{{ path('sellers_details', { 'id': detail.id }) }}">Ver</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <br>
    <br>
    <br>

    <div class="table-header">
        Listado de productos
    </div>
    <table id="table" class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>N° de producto</th>
            <th>Nombre de producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Precio neto</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('sellers_view_product', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.priceNet }}</td>
                <td>{{ product.status|trans }}</td>
                <td>
                    <a class="btn btn-xs btn-success" href="{{ path('sellers_view_product', { 'id': product.id }) }}">Ver</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
