{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sellers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Percentagecommission</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seller in sellers %}
            <tr>
                <td><a href="{{ path('sellers_show', { 'id': seller.id }) }}">{{ seller.id }}</a></td>
                <td>{{ seller.percentageCommission }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sellers_show', { 'id': seller.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sellers_edit', { 'id': seller.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sellers_new') }}">Create a new seller</a>
        </li>
    </ul>
{% endblock %}
