{% extends 'base.html.twig' %}

{% block body %}
    <div class="table-header">
        Listado de Compras
    </div>
    <table id="table" class="table table-bordered table-condensed table-hover">

        <thead>
        <tr>
            <th>Numero de boleta</th>
            <th>Fecha de emisión</th>
            <th>Tipo de venta</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for detail in details %}
            {% if (detail.type == 'detail.sale') %}
                <tr>
                    <td>
                        <a href="{{ path('sellers_customer_list_sale_details', { 'id': detail.id }) }}">{{ detail.number }}</a>
                    </td>
                    <td>{{ detail.dateOfIssue|date('Y-m-d') }}</td>
                    <td>{{ detail.type|trans }}</td>
                    <td>
                        <a class="btn btn-xs btn-success"
                           href="{{ path('sellers_customer_list_sale_details', { 'id': detail.id }) }}">Ver</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
