<table class="uk-table uk-table-divider">
    <thead>
    <tr>
        <th class="uk-text-primary" width="16%">N&deg; de compra:</th>
        <th class="uk-text-muted">{{ details.number }}</th>
    </tr>
    <tr>
        <th class="uk-text-primary">Fecha de emisión:</th>
        <th class="uk-text-muted">{{ details.dateOfIssue|date('Y-m-d H:m:s') }}</th>
    </tr>
    <tr>
        <th class="uk-text-primary">Tipo de venta:</th>
        <th class="uk-text-muted">{{ details.type|trans }}</th>
    </tr>
    <tr>
        <th class="uk-text-primary">Vendedor:</th>
        <th class="uk-text-muted">{{ details.user.fulldata }}</th>
    </tr>
    <tr>
        <th class="uk-text-primary">Cliente:</th>
        <th class="uk-text-muted">{{ details.customer.fulldata }}</th>
    </tr>
    <tr>
        <th class="uk-text-primary">Productos:</th>
        <th>
            <table class="uk-table uk-table-small uk-table-hover uk-table-striped dataTable uk-table-expand">
                <thead>
                <tr>
                    <th>N&deg;</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for product in details.metadata.products %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.requestedAmount }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.price * product.requestedAmount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </th>
    </tr>
    <tr>
        <th class="uk-text-primary">I.V.A:</th>
        <th class="uk-text-muted">{{ details.iva }}</th>
    </tr>
    <tr>
        <th class="uk-text-primary">Descuento:</th>
        <th class="uk-text-muted">{{ details.discount }}</th>
    </tr>
    <tr>
        <th class="uk-text-primary">Cantidad total:</th>
        <th class="uk-text-muted">{{ details.quantity }}</th>
    </tr>
    <tr>
        <th class="uk-text-primary">Valor Total:</th>
        <th class="uk-text-muted">{{ details.valueTotal }}</th>
    </tr>
    </thead>
</table>