{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de productos</h1>
    <table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre de producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Precio neto</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('sellers_view_product', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.priceNet }}</td>
                <td>{{ product.status|trans }}</td>
                <td>
                    <a class="btn btn-xs btn-success" href="{{ path('sellers_view_product', { 'id': product.id }) }}">Ver</a>
                    {#<a class="btn btn-xs btn-warning" href="{{ path('users_edit', { 'id': product.id }) }}">Editar</a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
