{% extends 'base.html.twig' %}

{% block body %}
    <h1>Movimientos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numerodocumento</th>
                <th>Detalletransaccion</th>
                <th>Monto</th>
                <th>Fechamovimiento</th>
                <th>Formapago</th>
                <th>Tipomovimiento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movimiento in movimientos %}
            <tr>
                <td><a href="{{ path('movimientos_show', { 'id': movimiento.id }) }}">{{ movimiento.id }}</a></td>
                <td>{{ movimiento.numeroDocumento }}</td>
                <td>{{ movimiento.detalleTransaccion }}</td>
                <td>{{ movimiento.monto }}</td>
                <td>{% if movimiento.fechaMovimiento %}{{ movimiento.fechaMovimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{% if movimiento.formaPago %}{{ movimiento.formaPago|date('Y-m-d') }}{% endif %}</td>
                <td>{{ movimiento.tipoMovimiento }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('movimientos_show', { 'id': movimiento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('movimientos_edit', { 'id': movimiento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movimientos_new') }}">Create a new movimiento</a>
        </li>
    </ul>
{% endblock %}
