{% extends 'base.html.twig' %}

{% block body %}
    <h1>Movimiento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movimiento.id }}</td>
            </tr>
            <tr>
                <th>Numerodocumento</th>
                <td>{{ movimiento.numeroDocumento }}</td>
            </tr>
            <tr>
                <th>Detalletransaccion</th>
                <td>{{ movimiento.detalleTransaccion }}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ movimiento.monto }}</td>
            </tr>
            <tr>
                <th>Fechamovimiento</th>
                <td>{% if movimiento.fechaMovimiento %}{{ movimiento.fechaMovimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Formapago</th>
                <td>{% if movimiento.formaPago %}{{ movimiento.formaPago|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tipomovimiento</th>
                <td>{{ movimiento.tipoMovimiento }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movimientos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('movimientos_edit', { 'id': movimiento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
