{% extends 'base.html.twig' %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('deposito') %}
        <div class="alert alert-danger fade in alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>Alerta!</strong> {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="table-header">
    Nº {{ detail.number }}
    </div>

    {% set data = detail.metadata %}
    {% set product = detail.metadata.product %}

    <table class="table table-bordered table-responsive">
        <tbody>
        <tr>
            <th>Fecha de emisión</th>
            <td>{{ detail.dateOfIssue|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Tipo de venta</th>
            <td>{{ detail.type|trans }}</td>
        </tr>
        <tr>
            <th>Nombre de vendedor</th>
            <td>{{ data.seller.fullName }}</td>
        </tr>
        <tr>
            <th>Nº de producto</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Nombre de producto</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Precio de producto</th>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <th>Cantidad</th>
            <td>{{ detail.quantity }}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>{{ detail|calculateMovements }}</td>
        </tr>
        </tbody>
    </table>

    {% set isCollector = detail|calculateMovements == 0 ? 'hidden' : '' %}

    <table class="table table-bordered table-responsive {{ isCollector }}">
        <div class="table-header">
        Formulario de pago
        </div>
        {{ form_start(form) }}
        <tbody>
        <tr>
            <th>{{ form_label(form.deposit) }}</th>
            <td>{{ form_widget(form.deposit) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.movementType) }}</th>
            <td>{{ form_widget(form.movementType) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.paidForm) }}</th>
            <td>{{ form_widget(form.paidForm) }}</td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input class="btn btn-xs btn-warning" type="submit" value="Realizar pago"/>
            </td>
        </tr>
        </tbody>
        {{ form_end(form) }}
    </table>

    <table id="table" class="table table-bordered table-condensed table-hover">
        <div class="table-header">
            Movimientos
        </div>
        <thead>
        <tr>
            <th>Nº</th>
            <th>Fecha de movimiento</th>
            <th>Monto</th>
            <th>Tipo de venta</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for movement in movements %}
            <tr>
                <td>
                    <a href="{{ path('collectors_movements_sale', { 'id': movement.id }) }}">{{ movement.id }}</a>
                </td>
                <td>{{ movement.dateMovement|date('Y-m-d') }}</td>
                <td>{{ movement.rode }}</td>
                <td>{{ movement.paidForm|trans }}</td>
                <td>
                    <a class="btn btn-xs btn-success"
                       href="{{ path('collectors_movements_sale', { 'id': movement.id }) }}">Ver</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="margin: 10px auto; position: relative;">
        <a class="btn btn-xs btn-warning pull-right" href="{{ path('collectors_index') }}">Volver</a>
    </div>
{% endblock %}
