{% extends 'base.html.twig' %}

{% block body %}
    <div class="uk-container-large">
        <div class="uk-container">
            <table class="uk-table uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-text-primary" width="16%">N&deg;:</th>
                    <th class="uk-text-muted">{{ product.id }}</th>
                </tr>
                <tr>
                    <th class="uk-text-primary">Producto:</th>
                    <th class="uk-text-muted">{{ product.name }}</th>
                </tr>
                <tr>
                    <th class="uk-text-primary">Cantidad:</th>
                    <th class="uk-text-muted">{{ product.quantity }}</th>
                </tr>
                <tr>
                    <th class="uk-text-primary">Precio:</th>
                    <th class="uk-text-muted">{{ product.price }}</th>
                </tr>
                <tr>
                    <th class="uk-text-primary">Estado de Stock:</th>
                    <th class="uk-text-muted">
                        {% if product.status|trans == 'Con Stock' %}
                            <span class="uk-label uk-label-success">{{ product.status|trans }}</span>
                        {% else %}
                            <span class="uk-label uk-label-danger">{{ product.status|trans }}</span>
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th class="uk-text-primary">Bodega:</th>
                    <th class="uk-text-muted">{{ product.fullCellar }}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %} 
