{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cobradore</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cobradore.id }}</td>
            </tr>
            <tr>
                <th>Porcentajecomision</th>
                <td>{{ cobradore.porcentajeComision }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cobradores_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cobradores_edit', { 'id': cobradore.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
