{% extends 'base.html.twig' %}

{% block body %}
<div class="table-header">
    Formulario de Venta
</div>
    {{ form_start(form) }}
    <table class="table table-bordered table-responsive">
        <tbody>
        <tr>
            <th>{{ form_label(form.rut) }}</th>
            <td>{{ form_widget(form.rut) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.name) }}</th>
            <td>{{ form_widget(form.name) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.lastName) }}</th>
            <td>{{ form_widget(form.lastName) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.mothersLastName) }}</th>
            <td>{{ form_widget(form.mothersLastName) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.homeAddress) }}</th>
            <td>{{ form_widget(form.homeAddress) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.workAddress) }}</th>
            <td>{{ form_widget(form.workAddress) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.fixedNetworkPhone) }}</th>
            <td>{{ form_widget(form.fixedNetworkPhone) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.cellPhone) }}</th>
            <td>{{ form_widget(form.cellPhone) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.email) }}</th>
            <td>{{ form_widget(form.email) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.accountOpeningDate) }}</th>
            <td>{{ form_widget(form.accountOpeningDate) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.accountNumber) }}</th>
            <td>{{ form_widget(form.accountNumber) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.authorizedCredit) }}</th>
            <td>{{ form_widget(form.authorizedCredit) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.paymentDateAgreed) }}</th>
            <td>{{ form_widget(form.paymentDateAgreed) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.totalCharge) }}</th>
            <td>{{ form_widget(form.totalCharge) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.totalDeposit) }}</th>
            <td>{{ form_widget(form.totalDeposit) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.quantity) }}</th>
            <td>{{ form_widget(form.quantity) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.product) }}</th>
            <td>{{ form_widget(form.product) }}</td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input class="btn btn-xs btn-warning" type="submit" value="Guardar" />
            </td>
        </tr>
        </tbody>
    </table>
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}


